<!DOCTYPE html>
<html>
<head>
  <title>MessageMe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="ui inverted  menu">
  <div class="ui container">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item active">
      Friends
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
</div>
<div class="ui container">
  <%= yield %>
</div>
</body>
</html>
